div.tile-container {    
    padding: 20px;
    border: .5px solid lightcyan;
    flex: 1 0 15%; 
    transition: .25s;
    opacity: .5;
}

div.tile-container[isenlarged="true"]{
    background-color: #fcd116;
    flex: 1 0 20%;
    opacity: 1;
}

div.tile-container[isenlarged="false"]{
    background-color: lightblue;
    flex: 1 0 15%;
    opacity: .5;
}

img {
    max-width: 150px;
    height: 80px;
    padding-top: 30px;
}